/* variables */
body {
    --gold-color: #d1ab3f;
}

/* general */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--gold-color);
}

h2 {
    text-align: center;
    background-image: url(./img/plashka.png);
    background-size: 120px;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

aside {
    background-image: url(./img/back.png);
    background-size: 210px;
}

li {
    list-style-type: none;
}

.hidden {
    display: none !important;
}

.logo {
    width: 20vw;
    height: 85px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 34px;
    font-family: serif;
}

/* header */
.noIntim {
    background: #000;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.noIntim img {
    margin-right: 10px;
}

.header_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('./img/back.jpg');
    background-size: 120px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.header_menu nav {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    height: 85px;
}

.header_menu nav a {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 15px;
}

.header_menu nav a:hover {
    background: rgba(245,245,245,0.1);
}

.hello {
    height: 650px;
    background-size: cover;
    background-position: center;
}

.hello_contacts {
    position: absolute;
    top: 140px;
    right: 10%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
    border-radius: 15px;
    font-size: 16px;
}

.hello_contacts_phone a {
    font-size: 24px;
    color: #fff;
}
/* girls */
.girls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.girls ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    overflow: hidden;
    height: auto;
    max-height: 360px;
    transition: all ease 1.5s;
}

.girls ul.active {
    max-height: 13000px;
}

.girls .button_vision, .girls .button_hidden {
    display: block;
    width: 160px;
    height: fit-content;
    margin: 20px;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: var(--gold-color);
    background: #14171c;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.girls li {
    position: relative;
}

.girls li img{
    height: 360px;
    width: 225px;
}

.girl_info {
    position: absolute;
    bottom: 4px;
    height: 42px;
    width: 100%;
    overflow-y: hidden;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    color: var(--gold-color);
    transition: all ease 1s;
    padding: 15px;
}

.girl_name {
    font-weight: 600;
}
.girls li img:hover + .girl_info, .girl_info:hover {
    height: 40%;
}

/* carousel */
.carousel-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.carousel-item {
   width: 100vw;
   height: 100%;
   justify-content: space-around;
   align-items: center;
   position: absolute;
   display: flex;
   opacity: 0;
   left: 100vw;
   transition: left ease 1s, opacity ease 1s;
}

.carousel-item.active {
    left: 0;
    opacity: 1;
}

.carousel-item.nextSlide {
    opacity: 0;
}

.carousel-item.prevSlide {
    left: -100vw;
    opacity: 0;
}

.carousel-item article {
    width: 50vw;
    height: 100%;
    background-position: center;
    background-size: cover;    
    position: relative;
}

.carousel-item button {
    border: none;
    background: rgba(0, 0, 0, .3);
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
}

.carousel-item button::before, .carousel-item button::after {
    content: "";
    width: 25px;
    height: 4px;
    border-radius: 10px;
    display: block;
    background: #ccc;
    position: relative; 
}

.carousel-item button.prev::before {
    transform: rotate(-45deg);
    top: -6px;
    left: 10px;
}

.carousel-item button.prev::after {
    transform: rotate(45deg);
    top: 6px;
    left: 10px;
}

.carousel-item button.next::before {
    transform: rotate(45deg);
    top: -6px;
    left: 15px;
}

.carousel-item button.next::after {
    transform: rotate(-45deg);
    top: 6px;
    left: 15px;
}

/* programes */

.programes table {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid
}

.programes table thead {    
    background: rgba(255, 255, 255, 0.5);
}

.programes table tbody .arrow {
    border: 5px solid transparent;
    border-left: 5px solid #666;
    height: 5px;
    display: inline-block;
    position: relative;
    right: 5px;
    transition: all ease .5s;
}

.programes table tr.active .arrow {
    transform: rotate(90deg);
}

.programes table tbody tr {
    border-top: 1px solid;
    cursor: pointer;
}

.programes table tbody tr:hover h4 {
    text-decoration: underline;
    text-decoration-style: dashed;
}

.programes table td {
    padding: 5px 10px;
}

.programes table h4 {
    padding: 5px;
}

.programes table p {
    width: 40vw;
    overflow-y: hidden;
    max-height: 0;
    height: auto;
    transition: all ease 1s; 
}

.programes table tr.active p {
    max-height: 1500px;
}

/* promotions */

.promotions {
    height: 470px;
}

.promotions_info {
    position: absolute;
    bottom: 0px;
    max-height: 42px;
    overflow-y: hidden;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    color: var(--gold-color);
    transition: all ease-out 1.5s;
    padding: 10px;
    height: auto;
}

.promotions_info > h3 {
    margin-bottom: 10px;
}

.promotions article:hover > .promotions_info, .promotions_info:hover{
    max-height: 100%;
}
/* map */

.map {
    margin-bottom: 0;
}

/* vacansies */

.vacancies {
    text-align: center;
    padding: 10px;
}

.vacancies p {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-image: url('./img/back.jpg');
    background-size: 120px;
    padding: 25px 0px;
}

.footer_contacts {
    display: flex;
    width: 32%;
    justify-content: space-between;
    font-size: 14px;
    height: 100%;
}

footer nav {
    height: 100%;
}

footer ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer img {
    margin-right: 10px;
    height: 20px;
    filter: invert(1);
}

footer li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
}

footer a {
    color: #fff;
}

.burgerActive {
    display: none;
}


@media screen and (max-width: 920px) {
    /* header */
    
    .logo {
        width: 32vw;
    }

    .header_menu nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 85px;
        overflow: hidden;
        height: auto;
        max-height: 0px;
        transition: all linear 1s;
    }

    .burgerActive:checked + nav {
        max-height: 1000px;
    }

    .header_menu nav a {        
        border-bottom: 1px solid #aaa;
        width: 100%;
        text-align: center;
        display: block;
        background: #000;
    }

    .header_menu nav a:active, .header_menu nav a:hover {        
        background: #555;
    }

    .burger, .burger::before, .burger::after {
        content: "";
        width: 40px;
        height: 4px;
        background: var(--gold-color);
        display: block;
        position: relative;
    }

    .burger::before {
        top: -10px;
    }

    .burger::after {
        top: 5px;
    }

    .footer_contacts {
        width: 35%;
    }
}

@media screen and (max-width: 600px) {
    
    .logo {
        width: 41vw;
        font-size: 26px;
    }  
    
    .logo img {
        transform: scale(0.8);
    }

    .hello {
        height: 500px;
    }

    .girls ul {
        justify-content: center;
    }

    .carousel-item button {
        transform: scale(0.7);
    }

    .carousel-item article {
        width: 65vw;
    }

    .programes_info{
        font-size: 14px;
    }
    

    footer {
        display: none;
    }
}

@media screen and (max-width: 390px) {

    .logo {
        width: 60vw;
    }

    .hello {
        height: 370px;
    }

    .programes table p {
        font-size: 12px;
    }
    
}
